extends layout.pug

block content
  script(type="text/javascript" src="https://alcdn.msauth.net/browser/2.24.0/js/msal-browser.min.js")
  script(src="/scripts/msal-auth.js")

  script.
    const authService = new MsalAuthService("#{clientId}", "#{applicationIdUri}");
    $(document).ready(function () {

      authService
          .isCallback()
          .then((isCallback) => {
              if (!isCallback) {
                  authService
                      .getUser()
                      .then((user) => {
                          // Signed in the user automatically; we're ready to go
                          setUserSignedIn(true);
                          getMyProfile(user.localAccountId);
                      })
                      .catch(() => {
                          setUserSignedIn(false);
                          // Failed to sign in the user automatically; show login screen
                          console.log("Failed")
                      });
              }
          })
          .catch((error) => {
              // Encountered error during redirect login flow; show error screen
              console.log(error);
          });
    });

    function login() {
        authService
            .login()
            .then((user) => {
                if (user) {
                    setUserSignedIn(true);
                    getMyProfile(user.localAccountId);
                } else {
                    setUserSignedIn(false);
                }
            })
            .catch((err) => {
                setUserSignedIn(false);
            });
    }

    function logout() {
        authService.logout();
    }

    function getMyProfile(userId) {
        setUserSignedIn(true);
        authService.getUserInfo(userId);
    }

    function setUserSignedIn(isUserSignedIn) {
        document.getElementById("browser-login").hidden = isUserSignedIn;
    }


  div(id="browser-signin-container")
  header(class="header_logo")
    img(src="./images/currikistudio_logo.svg" alt="logo" class="img_one")
  div(class="wlcm_bx")
    div(class="wlcm_content")
      img(src="./images/left_integration_logo.svg" alt="left image" class="content_left")
      div(class="right_content" id="browser-login")
          p(class="wlcm_para") Connecting Microsoft Teams - CurrikiStudio app...
          h2(class="wlcm_heading") Welcome to Curriki
          p(class="inner_para") Please click on Log In button to see your profile details!
          button(class="wlcm_btn" onclick="login()") Login
      div(id="divGraphProfile" style="display:none;")